[Unit]
Description=A description for your custom service goes here
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/igdrones/startup/ssh-tunnel-ngrok.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
